* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
    background-color: black;
}

nav {
    display: flex;
    width: 100%;
    position: relative;
}

nav::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: white;
}

nav::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 75px;
    background-color: white;
}

.logo {
    display: flex;
    flex-basis: 5%;
}

.bannar {
    width: 100%;
    height: 90vh;
}

.bannar img {
    width: 100%;
}

.content {
    position: absolute;
    top: 140px;
    left: 60px;
    color: white;
}

.content h1 {
    display: table;
    margin: -8px;
    font-size: 45px;
    letter-spacing: 5px;
}

.text-p {
    color: white;
    position: absolute;
    top: 265px;
    left: 60px;
    font-weight: bold;
}

.text-p button {
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(233, 216, 60);
    transition: all 0.3s ease;
}

.text-p button:hover {
    letter-spacing: 2px;
}

.bannar img {
    margin-top: 10px;
    width: 100%;
    height: 90vh;
    z-index: 100000;
    background-position: center;
    background-size: cover;
}

.logo img {
    width: 60px;
    padding-left: -10px;
}

nav .navbar-list {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

.navbar-list ul {
    display: flex;
}

.navbar-list ul li {
    padding: 10px 10px;
}

ul li a {
    text-decoration: none;
    display: table;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
}

.tol-bar {
    flex-basis: 25%;
    display: flex;
    padding-right: 30px;
    justify-content: end;
}

.tol-bar i {
    padding: 20px 10px;
    font-size: 30px;
    color: white;
}

.tol-bar i:nth-child(3) {
    display: none;
}

.side-bar {
    align-items: center;
    position: absolute;
    display: flex;
    float: right;
    transition: all 0.5s ease;
    width: 100%;
    display: none;
}

.ul {
    display: table;
    height: 100%;
}

.s-bar {
    display: inline-block;
    top: 50px;
    width: 100%;
    margin: auto;
    align-items: center;
    transition: all 0.5s ease;
    position: fixed;
}

.s-bar li {
    transition: all 0.5s ease;
    padding: 10px;
}

.s-bar li:last-child {
    padding-bottom: 30px;
}

.s-bar li a {
    margin: auto;
    transition: all 0.5s ease;
    color: black;
    font-size: 22px;
}

.tol-bar div i:first-child {
    cursor: pointer;
}

#fr {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fr form {
    position: relative;
}

#fr input {
    padding: 10px;
    z-index: 1000;
}

#fr form i {
    font-size: 25px;
    position: absolute;
    top: 33px;
    right: 3%;
}

#about {
    background-color: black;
}

.ha {
    color: gold;
}

.pic img {
    width: 100%;
}

.pa {
    background-color: black;
}

.pa p {
    text-indent: 20px;
    text-align: justify;
    padding: 10px;
}

#menu {
    background-color: black;
}

#card-1 {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid gray;
    transition: all 1s ease;
    padding-bottom: 25px;
}

#card-1 h6 {
    padding: 15px 35px;
    border: 1px solid white;
    display: inline-block;
    background-color: goldenrod;
    border-radius: 4px;
    transition: all 0.5s ease;
    margin-top: 15px;
}

#small {
    position: relative;
    width: 30px;
    height: 100px;
    font-size: 15px;
}

#small::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 9px;
    z-index: 100;
}

#card-1 h6:hover {
    letter-spacing: 2px;
}

#card-1:hover {
    background-color: white;
}

#card-1:hover .tex {
    background-color: white;
    color: black;
}

#product {
    background-color: black;
}

.box-1 {
    display: table;
    font-size: 28px;
    background-color: black;
}

.box-1 i {
    border: 1px solid gray;
    padding: 10px;
    margin: 3px;
    color: white;
    border-radius: 2px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.box-1 i:hover {
    background-color: gold;
}

#card-2 {
    background-color: black;
    border: 1px solid gray;
}

.box-3:hover {
    color: black;
}

.box-2 img {
    transform: scale(0.9);
    transition: all 0.5s ease;
    border: 5px solid red;
}

.box-2 img:hover {
    transform: scale(1);
}

#customer {
    background-color: black;
}


/* ======================================== */

.box-n {
    border-radius: 10px;
    width: 95%;
    height: auto;
    margin: auto;
    border: 5px solid #778899;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.box-img img {
    width: 50%;
    border-radius: 50%;
    margin: auto;
    border: 5px solid red;
}

#team-img {
    width: 130px;
    height: 140px;
}

.te {
    font-size: 27px;
    /* font-family: "Quintessential", cursive; */
    font-family: "Noto Serif", serif;
}

.box-img strong {
    font-family: "Quintessential", cursive;
    font-weight: bolder;
    font-size: 30px;
}

.owl-dots {
    text-align: center;
    margin-left: 40px;
}

.owl-dot {
    height: 10px;
    width: 30px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 5px;
    outline: non;
    border: 2px solid red !important;
    transition: all 0.5s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #52595d !important;
}


/* owl carousel end  */

#star {
    color: gold;
    font-size: 25px;
}

#img-r {
    width: 75px;
    height: 75px;
    border-radius: 0%;
    border: none;
}

#contact {
    background-color: black;
}

.map {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.con h6 {
    display: table;
    color: wheat;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 10px 25px;
    text-align: center;
}

.con h6:hover {
    background-color: gold;
    color: black;
    letter-spacing: 2px;
}

.form-group input {
    color: black;
}

#blog {
    background-color: black;
}

#card-5 {
    background-color: black;
    color: white;
    border: 1px solid gray;
    cursor: pointer;
}

#card-5 img {
    transform: scale(0.94);
    transition: all 0.3s ease;
    border-radius: 3px;
}

#card-5:hover .im {
    transform: scale(1);
}

.cc {
    display: table;
    border: 1px solid gray;
    padding: 12px 24px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cc:hover {
    background-color: gold;
    letter-spacing: 2px;
    color: black;
}

.icon i {
    padding: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 10px 12px;
    font-size: 23px;
    color: gold;
    transition: all 0.4s ease;
    cursor: pointer;
}

.icon i:hover {
    color: black;
    background-color: white;
}

#footter {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.f-menu ul li {
    padding: 8px 12px;
    border: 1px solid gray;
    margin: 5px 8px;
}

.f-menu ul li a {
    text-align: center;
    padding-bottom: 5px;
    padding: 0px 10px;
    transition: all 0.3s ease;
}

.f-menu ul li:hover {
    background-color: gold;
    color: black;
}

#fr {
    position: absolute;
    width: 60%;
    top: 58px;
    right: -2%;
}


/* .bb {
    width: 55%;
} */

.Box {
    display: flex;
    /* width: 45%; */
    justify-content: space-around;
}

.Box img {
    width: 40px;
    cursor: pointer;
}

.Box i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#card-part-1 {
    width: 50%;
}

#card-part {
    position: absolute;
    width: 70%;
    left: 31%;
    top: 78px;
    transform: translateX(-2500px);
    transition: all 0.6s ease;
}

.fa-shopping-cart {
    cursor: pointer;
}

#card-part-1 {
    position: fixed;
    width: 60%;
    top: -5px;
    right: 22px;
}


/* after effect part  */

.navbar-list ul li a {
    position: relative;
}

.navbar-list ul li a::after {
    content: "";
    width: 90%;
    height: 0px;
    position: absolute;
    background-color: red;
    left: -2px;
    top: 25px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.navbar-list ul li a:hover:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: gray;
    left: 2px;
    top: 40px;
}


/* Media query  */

@media only screen and (max-width: 746px) {
    .ul li {
        display: none;
    }
    .tol-bar i:nth-child(3) {
        display: inline;
    }
    #sidi-b {
        display: inline;
    }
    .logo {
        width: 60px;
        flex-basis: 2%;
    }
    nav .navbar-list {
        display: none;
        flex-basis: 0%;
    }
    .tol-bar {
        display: table;
        flex-basis: 98%;
        display: flex;
        font-size: 25px;
        justify-content: end;
    }
    .side-bar {
        align-items: center;
        display: flex;
        top: 15px;
        right: 0px;
        transform: translateX(-900px);
        position: absolute;
        transition: all 0.5s ease;
    }
    .content {
        position: absolute;
        top: 140px;
        left: 30px;
        color: white;
    }
    .content h1 {
        display: table;
        margin: -8px;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .text-p {
        color: white;
        position: absolute;
        top: 235px;
        left: 30px;
        font-weight: bold;
    }
    .text-p button {
        padding: 8px 20px;
        font-size: 20px;
        border-radius: 5px;
        color: white;
        background-color: rgb(233, 216, 60);
        transition: all 0.3s ease;
    }
    .text-p button:hover {
        letter-spacing: 2px;
    }
    .form input {
        width: 80%;
        z-index: 100;
        padding: 8px;
        /* background-color: red; */
        position: absolute;
        left: 10%;
        top: 77px;
    }
    .form i {
        color: black;
        position: absolute;
        top: 88px;
        z-index: 101;
        font-size: 25px;
        right: 50px;
    }
    nav::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: white;
    }
    nav::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 70px;
        background-color: white;
    }
    #fr {
        position: absolute;
        width: 90%;
        top: 58px;
        right: -2%;
        display: none;
    }
    #face {
        display: none;
    }
    .side-bar ul li a {
        position: relative;
    }
    .side-bar ul li a::after {
        content: "";
        width: 90%;
        height: 0px;
        position: absolute;
        background-color: red;
        left: -2px;
        top: 25px;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .side-bar ul li a:hover:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: gray;
        left: 0px;
        top: 40px;
    }
    #card-part-1 {
        position: fixed;
        width: 100%;
        top: -5px;
        right: 10px;
    }
}